@{
    ViewBag.Title = "Index";
}

@*FAS:iin liittyvä stylesheet linkki!*@
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

@*JQuery, joka avaa _CreateModal -modal-ikkunan*@
@section scripts {
    <script type="text/javascript">
        $('#buttonCreate').on('click', function () {
            $('#CreateModal').modal('show');
        });
    </script>

    @if (TempData["success"] != null)    
        {
            <script @*type="text/javascript" charset="utf-8"*@>alert('@TempData["success"]');</script>
        }
}

<h2>Uuden käyttäjätunnuksen luominen</h2>

<p>@ViewBag.Message</p>

<p>
    <button type="button" id="buttonCreate" class="btn btn-success">Luo uusi käyttäjätunnus</button>
    @Html.ActionLink("Peruuta", "Index", "Home", null, new { @class = "btn btn-danger" })

</p>

@*modaalin login-ikkunan renderöinti*@
@{
    Html.RenderPartial("_CreateModal");
}

