@model ReseptiHaku.Models.Logins

@{
    ViewBag.Title = "Home Page";
}

@*FAS:iin liittyvä stylesheet linkki!*@
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
@*<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>*@
@*<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>*@

@*JQuery, joka suoritetaan aina, kun sivu latautuu*@
@*Tarkistaa tuliko kontrollerilta tieto kirjautumisen epäonnistumisesta*@
@section scripts {
    <script type="text/javascript">
        $(window).on('load', function () {
            if (@ViewBag.LoginError == 1) {
                $('#LoginRuutu').modal('show');
            }
        });
    </script>    
}

<div class="jumbotron">
    <h1>ReseptiHaku</h1>
    <p class="lead">Reseptien ja menujen hallintaan tarkoitettu sivusto.</p>
    <br /><br />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Tietoa projektista</h2>
        <p>
            Tarkoitus on ollut luoda sivusto, jossa voi luoda ja hallinnoida omia reseptejä ja menuja.
            Toteutus on keskeneräinen. <br /><br /> NavBarista löytyy ensiksi kunkin osion osalta lähinnä tietokannan toiminnan kokeilua varten näkymät kaikkiin tietokannan taulujen kontrollereihin. <br /><br />
            Reseptien osalta löytyy muutama sinäänsä toimiva, mutta vailinnaiseksi jäänyt yritelmä reseptien selaamiseen ja tietojen näyttämiseen.
        </p>        
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>

@*modal-ikkunan avauspainike debuggausta varten*@
@*<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#LoginRuutu">Avaa Modal-ikkuna</button>*@

@*modaalin login-ikkunan renderöinti*@
@{
    Html.RenderPartial("_LoginModal");
}
